.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 10px;
  align-items: center;

  &--flex {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 480px) {
    padding: 0;
  }

  @media (min-width: 768px) {
    max-width: 738px;
  }

  @media (min-width: 1200px) {
    max-width: 1170px;
    justify-content: unset;
  }
}

// .container {
//     width: $container-width;

//     &--block {
//         display: block;
//     }
//   }
