.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;

  &--flex {
    display: flex;
    justify-content: space-between;
  }

  // @media (min-width: 480px) {
  //   padding: 0;
  // }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    justify-content: unset;
  }
}

// .container {
//     width: $container-width;

//     &--block {
//         display: block;
//     }
//   }

.container--footer {
  @media (min-width:768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (min-width:1200px) {
    flex-wrap: nowrap;
  }
}