.logo {
  font-family: getFont('logo');
  font-weight: 700;
  @include font-size (26px,30.52px);
  color: getColor('accent');
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo__header-headline {
  color: getColor('text-main');

  @media (min-width:1200px) {
    margin-right: 93px;
  }
}

.logo__footer-headline {
  color: #fff;
}

