.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;

  color: getColor('text-secondary');
  line-height: 1.7;
}

.agreement__link {
  color: getColor('accent');
}

.agreement__btn {
  padding: 10px 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 16px;
  height: 15px;

  border: 2px solid getColor('text-main');
  border-radius: 2px;
  margin-right: 9px;

  transition: border 550ms $timing-function,
    background-color 250ms $timing-function;

    .agreement__input:checked + & {
      background-color: getColor('btn-hover');
      border-color: getColor('btn-hover');
    }
    
}

.checkbox__icon {
  opacity: 0;

  transition: opacity 250ms $timing-function,
    fill 250ms $timing-function;

    .agreement__input:checked + .checkbox & {
      opacity: 1;
      fill: #fff;
    }

}



