.social-list {
  display: flex;
  justify-content: center;
}
.social-list__link {
  display: flex;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:focus,
  &:hover {
    background-color: getColor('accent');
  }
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: getColor('icon');

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: #fff;
  }
}

.social-list__link--grey {
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus{
    background-color: getColor('accent');
  }
}

.social-list__icon--white {
  fill: #fff;
}
