.features-list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    @media (max-width:1199px) {
      margin-bottom: -30px;
    }
  }
}



.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  height: 120px;
  width: 100%;

  background-color: getColor("background-secondary");
  border-radius: 4px;
}

.features-list__subtitle {
  margin-bottom: 10px;
  text-transform: uppercase;

  @include font-size(14px, 16.41px);

  @media (max-width: 767px) {
    text-align: center;
  }
}

.features-list__description {
  color: getColor("text-secondary");
  line-height: 1.7;
}
