.footer-section__block {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}

.footer-section__block-item {
  @media (max-width:1199px) {
    margin-bottom: 60px;
  }


  @media screen and (min-width: 768px) and (max-width:1199px){
    width: 232px;
      margin-right: 165px;
  }
}

.footer-section__link {
  @include link-common(flex);
  @include font-size(14px, 24px);

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  @media (max-width: 1199px) {
    justify-content: center;
  }
}

.footer-section__logo {
  display: block;
  margin-bottom: 20px;
}

.footer-section {
  background-color: getColor("background-accent");
  color: #fff;
  @include font-size(14px, 24px);
  padding-top: 60px;
  padding-bottom: 60px;
  @media (max-width: 1199px) {
    text-align: center;
  }
}

.footer-section__contact {
  @media (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-section__form {

  @media (max-width:1199px) {
    display: inline-block;
    width: 450px; 
  }

  @media (min-width: 1200px) {
    display: inline;
    margin-left: auto;
  }
  @media (max-width:450px) {
    width: 100%; 
  }
}

.footer-socials {
  margin-right: 0;
  @media (min-width: 768px) {
    width: 206px;
  }
}

.footer-section__address {
  font-style: normal;
  margin-bottom: 9px;
}

.subscription-form__subtitle,
.footer-socials__subtitle {
  margin-bottom: 20px;

  color: #fff;
  text-transform: uppercase;
  @include font-size(14px, 16.41px);
}
